<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free Bootstrap Admin Template by Adminmart</title>
  <link rel="stylesheet" th:href="@{/css/styles.min.css}" />
  <link rel="shortcut icon" type="image/png" th:href="@{/images/logos/favicon.png}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside th:replace="fragments/sidebar.html :: sidebar"></aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header th:replace="fragments/header.html :: header"></header>
      <!--  Header End -->
      <div class="container-fluid">
        <div class="card w-100 h-100 position-relative overflow-hidden">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Icons</h5>
            <iframe src="https://tabler-icons.io/" frameborder="0" style="height: calc(100vh - 250px); width: 100%;"
              data-simplebar=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block th:replace="fragments/scripts.html :: scripts"></th:block>

</body>

</html>